/*å…¨å±€å¼•å…¥*/
html,body {
	width:100%;height:100%;
	margin:0;padding:0; font-family:"微软雅黑";
	font-size:12px; color:#f0f0f0; line-height:160%;  }
body {
	background-image: url(../images/a5.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	position: relative;
	overflow: hidden;
}

a { color: #09C ; text-decoration: none; outline:none;}
a:visited { text-decoration: none; color: #09C;  }
a:hover { text-decoration: none; color: #C00; }
a:focus { outline:0;}
a:active { text-decoration: none; }
p { margin: 0; padding: 0;  line-height: 150%;}
input, font ,select, option, textarea, button, fieldset, legend {
	font-family:\5fae\8f6f\96c5\9ed1;color: #666; font-size: 1em; line-height:120%;}
img { border: none; }
ul,ol,dl,li,form{ margin: 0; padding: 0 ;list-style: none;}
div,td,PRE{ word-wrap: break-word;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-weight:normal;}
h1{ font-size:18px; color:#333;}
textarea{resize:none}
div,td{ word-wrap: break-word;}
.clear { clear:both; height:0px; width:0px; margin: 0 auto; font-size:0;}
.hide{ display: none;}


.Container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.con_drag{
	width: 200%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.con_drag > div{
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
}

.page_A{
	/*background-color: cyan;*/
}
.page_B{
	/*background-color: pink;*/
}


/*Aé¡µé¢æ ·å¼*/
.con_padding{
	width: 100%;
	height: 20%;
}
.Con_musicList{
	height: 75%;
	width: 80%;
	margin: 0 auto;
	/*background:#454545;*/
}
.music_class{
	width: 40%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.music_class > li{
	width: 28%;
	height: 28%;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	vertical-align:middle;
	text-align: center;
	overflow: hidden;
	font-size: 20px;
	border-radius: 10%;
	cursor: pointer;
	letter-spacing: 5px;
	border:1px solid rgba(255, 255, 255, 0.3);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 32px 32px;
}
.music_class > .bg{
	background-image: url(../images/icon/headset.png);
}
.music_class > .active{
	font-size: 25px;
    font-weight: bold;
	background-color: rgba(0, 0, 0, 0.3);
}

.con_catalogue{
	width: 60%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	/*background-color: cyan;*/
}
.catalogue{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.catalogue > li{
	width: 85%;
	padding: 10px 0 10px 15px;
	cursor: pointer;
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
.catalogue > .active{
	background-color: rgba(0,0,0,0.3);
}
.catalogue > li > span{
	width: 60%;
	display: inline-block;
}
.catalogue > li > strong{
	width: 30%;
	display: inline-block;
	font-weight: normal;
}
.catalogue > li > a > img {
	display: inline-block;
	margin-right: 2%;
	height: 15px;
}


/*Bé¡µé¢æ ·å¼*/
.conB_lyric{
	width: 80%;
	height: 75%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.Do_lyric{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
}
.Do_lyric > li{
	padding: 5px 0;
	position: relative;
	text-align: center;
	letter-spacing: 2px;
	color: rgba(255,255,255,0.5);
}
.Do_lyric > .active{
	font-size: 16px;
	color: #fff;
}
/*éŸ³ä¹æ’­æ”¾å™¨å®¹å™¨*/
.Con_music{
	width: 100%;
	height: 20%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

/*æ—¶é—´è½´*/
.con_offset{
	width: 100%;
	height: 4px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}
.do_offset{
	width: 0;
	height: 100%;
	position: relative;
	background-color: #fff;
}
.do_offset:after{
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	right: 0;
	top: -5px;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 0 5px #fff;
	content: "";
}

.body_padding{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-image: url(../images/default_overlay.png);
	/*opacity: 0.5;*/
	z-index: 0;
}

.Music_do{
	width: 18%;
	height: 80%;
	margin: 0 auto 0;
}
.Music_do > span{
	width: 33%;
	height: 100%;
	float: left;
	display: block;
	cursor: pointer;
	background-size: 100%;
	background-repeat: no-repeat;
}
.Music_do > span:hover{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
}


/*å›ºå®šç»„ä»¶å±…ä¸­å®¹å™¨*/

.singer_container{
	width: 80%;
	height: 80%;
	margin: 10px auto;
	overflow: hidden;
}

.singer_con{
	width: 35%;
	height: 80%;
	float: left;
}

.singer_con > img{
	height: 100%;
	float: left;
	margin-right: 10px;
}
.singer_con > p > strong{
	font-weight: normal;
}
.singer_con > p > span{
	width: 10px;
	text-align: center;
	display: inline-block;
}


.voice_container{
	float: right;
	margin-top: 1%;
}


.con_voice{
	height: 100%;
	float: left;
}
.con_voice > span{
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	cursor: pointer;
	background-size: 100%;
}
.con_voice > span:hover{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
}
.all_voice{
	width: 100px;
	height: 4px;
	float: right;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.3);
}
.now_voice{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
}
.now_voice:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	right: 0;
	top: -2px;
	border-radius: 4px;
	box-shadow: 0 0 3px #fff;
	background-color: #fff;
}


.con_lyric{
	height: 100%;
	margin-left: 10px;
	float: left;
}
.con_lyric > span{
	width: 25px;
	height: 25px;
	cursor: pointer;
	float: left;
	background-size: 100%;
}
.con_lyric > strong{
	margin-left: 10px;
	line-height: 25px;
	width: 30px;
	height: 25px;
	cursor: pointer;
}
.con_lyric > span:hover{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
}

.icon_pre{
	background-image: url(../images/icon/rewind.png);
}
.icon_play{
	background-image: url(../images/icon/play.png);
}
.icon_stop{
	background-image: url(../images/icon/pause.png);
}
.icon_next{
	background-image: url(../images/icon/fast_forward.png);
}
.icon_audio{
	background-image: url(../images/icon/audio.png);
}
.icon_mute{
	background-image: url(../images/icon/mute.png);
}
.icon_repeat{
	background-image: url(../images/icon/repeat.png);
}
.icon_shuffle{
	background-image: url(../images/icon/shuffle.png);
}
.icon_loop{
	background-image: url(../images/icon/loop.png);
}


/*æ¨¡æ‹Ÿæ»šåŠ¨æ¡*/
/*.con_catalogue:hover .con_scroll{
	opacity: 1;
}
.con_catalogue:hover .con_scroll{
	opacity: 1;
}*/

.con_scroll{
	width: 1px;
	height: 100%;
	right: 8%;
	top: 0;
	opacity: 0;
	position: absolute;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.do_scroll{
	width: 5px;
	height: 0;
	position: absolute;
	right: -3px;
	top: 0;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}